/* 
    Document   : style
    Created on : Dec 5, 2011, 6:31:54 AM
    Author     : spaans01
    Description:

        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: #3d7edb;
}

.visible {
    display: block;
    visibility: visible;
}

.invisible {
    display: none;
    visibility: hidden;
}

.screen {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    height: 1000px;
    width: 900px;
    background-color: #ffffff;
    border: 2px solid #808080;
    border-bottom-color: #000000;
    border-right-color: #000000;
}

.screenHeader {
    height: 150px;
}

.screenFooter {
    height: 150px;
    clear: both;
}

.screenLeft {
    float: left;
    width: 150px;
    height: 700px;
}

.screenRight {
    float: left;
    width: 150px;
    height: 700px;
}

.screenMain {
    float: left;
    width: 600px;
    height: 700px;
}

.logoIDN {
    float: right;
    margin: 10px;
}

.logoMAW {
    float: left;
    margin: 10px;
}

.clock {
    font-size: 36px;
    font-weight: bold;
    font-family: "Courier New";
    position: relative;
    color: #000000;
    top: 30px;
}

.outerBox {
    width: 300px;
    margin: 20px;
    background-color: #3d7edb;
    border: 2px solid #ccccff;
    border-bottom-color: #ddddff;
    border-right-color: #ddddff;
    padding: 10px;
    position: fixed;
}

.innerBox {
    background-color: #eeeeff;
    border: 2px solid #ccccff;
    border-bottom-color: #ddddff;
    border-right-color: #ddddff;
    padding: 10px;
}

.menuBox {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #0080ff;
    background-color: #eeeeff;
}

.statsBox {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #0080ff;
    background-color: #eeeeff;
}

.statsTable {
    border: 1px solid #000000;
}

.formalLargeText {
    font-family: "Courier New";
    font-size: 20px;
    font-weight: bold;
}

.formalTitleText {
    font-family: "Courier New";
    font-size: 12px;
    font-weight: bold;
}

.formalNameText {
    font-family: "Courier New";
    font-size: 12px;
}

.formalText {
    font-family: "Courier New";
    font-size: 12px;
}

.formalKey {
    float: left;
}

.formalVal {
    float: right;
}

.formalTextSuccess {
    font-family: "Courier New";
    font-size: 12px;
    color: #00ff00;
}

.formalTextFail {
    font-family: "Courier New";
    font-size: 12px;
    color: #ff0000;
}

.mainBox {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #00ff00;
    
}

.mainTitleText {
    font-family: "Verdana";
    font-size: 16px;
    font-weight: bold;
}

.mainText {
    font-family: "Verdana";
    font-size: 10px;
}

.newsletterInput {
    width:  100px;
}

.ovTable {
    border: 1px solid #000000;
}

.ovHeaderCell {
    background-color: #000000;
    color: #ffffff;
    padding: 3px;
}

.ovCell {
    background-color: #ffffff;
    padding: 3px;
}